<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 <style>
.card{
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

 </style> 
    


</head>
<body id="">
    <div class="container">
        <div class="card" style="height: 500px">
            <div class="card-header">
<h1>Login</h1>
</div>
<form >
<div>
    <label for="">Email</label><br>
    <input type="text"class="email"id=""  name="username">
</div>
<div>
    <label for="">Password</label><br>
    <input style="margin: 0 auto" type="text"class="password"id=""  name="password">
</div>

    <input type="button" style="margin: 50px;" class="btn btn-primary" type="Submit" value="Login">


</form>
</div>
    </div>
</body>
</html>

