.wrap{
    background-color: black;
    padding-bottom: 25px;
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 14px;
}
.navbar{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    width: 100%;
    opacity: 0.75;
    background-color: rgb(55, 53, 61);
    transition: 0.5s;
    height: 75px;
    display: inline-block;
    z-index: 1;
}
.navbar:hover{
    opacity: 1.0;
    transition: 0.5s;
}
.logo{
    width: fit-content;
}
.logo:hover{
    border: 1px solid black;
}
.height {
    height: 100vh
}

.form {
    position: absolute;
}

.form-input {
    position: absolute;
    margin-top: 20px;
    height: 50px;
    border-radius: 1px
}

.form-input:hover {
    box-shadow: none;
}

.form-control{
   
    text-align: center;
    border: none;
}
.form-control:focus::placeholder{
    color: transparent;
}
#icon{
    width: 50px;
    border: 1px solid black;
    border-radius: 100px;;
    background-color: rgb(0, 0, 0);
}
.search{
    border-radius: 100px;
    background-color: black;
}
.search:focus{
    border: white 1px solid;
    border-radius: 100px;
    background-color: black;
}
#icon:focus{
    background-color: blue;
    width: 98%;
}
h5{
    display: inline-block;
    padding-right: 10px;
}
.topright{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: right;
}
.topleft{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 10px;
}
/* #cart{
    padding: 5px;
    position: absolute;
    top: 87px;
    right: 10px;
    float: right;
    width: 50px;
    border-radius: 10px;
    background-color: white;
}
#cart:hover{
    border: #F26925 3px solid;
} */

a{ color: #F26925; }

li { cursor: pointer; }

button{
    background-color: #F26925;
    color: #FFFFFF;
    border: none;
}

#products{
    height: 38px;
    position: absolute;
    top: 97px;
    left: 20px;
    float: right;
}

#search{
    left: 150px;
    width: 261px;
}

#dropdownMenuButton1{
    background: url("src\assets\images\cart.png");
    background-size: 100%;
    margin-top: 5px;
    background-color:white;
    background-repeat: no-repeat;
}
#dd {
    position: absolute;
    float: right;
    top: 87px;
    right: 30px;
    width: 50px;

}
.bb {
    max-height:250px; 
    overflow-y:auto;
    border-radius: 19px;
}

@media screen and (max-width: 600px) {
    .nav-small{
        margin-left: 0px !important;
        width: 139px !important;
        
    }
    #search{
        width: 140px !important;
        left: 100px !important;
    }
    #products{
        margin-left: -10px;
        width: 70px; 
        font-size: x-small;
    }
    .topleft{
        padding-left: 5px;
    }
    .righta{
        font-size: 17px;
    }
  }

  .pointer {cursor: pointer;}