.body1{
    display:grid;
	margin: 0;
	padding: 0;
	padding-top: 30px;
	/* background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF); */
	background-color: rgb(72, 76, 86);
	height: 100vh;
	justify-content: center;
	align-items: center;
}
.CartContainer{
	width: 90%;
	height: 750px;
	background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 20px #1687d933;
	padding: 30px;
	overflow-y: scroll;
}
.Header{
	margin: auto;
	width: 90%;
	height: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.Heading{
	font-size: 50px;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 700;
	color: #2F3841;
}
.Action{
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #E44C4C;
	cursor: pointer;
	border-bottom: 1px solid #E44C4C;
}
.Cart-Items{
	margin: auto;
	width: 90%;
	height: 30%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 25px;
}
.Cart-Items:hover{
	border: 1px rgb(0, 0, 0) solid;
	border-radius: 10px;
}
.image-box{
	width: 15%;
	text-align: center;
}
.about{
	height: 100%;
	width: 24%;
}
.title{
	padding-top: 10px;
	line-height: 30px;
	font-size: 32px;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #202020;
}
.subtitle{
	line-height: 15px;
	font-size: 18px;
	font-family:cursive;
	font-weight: 600;
	color: #909090;
}
.counter{
	width: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.btn{
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #202020;
	cursor: pointer;
}
.count{
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #202020;
    padding: 5px;
}

.prices{
	height: 100%;
	text-align: right;
}
.amount{
	padding-top: 20px;
	font-size: 26px;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #202020;
}
.save{
	padding-top: 5px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #1687d9;
	cursor: pointer;
}
.remove{
	padding-top: 5px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #E44C4C;
	cursor: pointer;
}
.pad{
	margin-top: 5px;
}
hr{
	width: 90%;
	float: right;
	margin-right: 5%;
}

.checkout{
	position:relative;
	width: 80%;
	height: 250px;
	padding: 10px;
	border: 1px solid black;
	background-color: white;
	margin-left: 5%;
}
.total{
	padding-bottom: 5px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.Total{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin-bottom: 100px;
	padding: 20px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;;
	background-color: white;
	font-size: 23px;
}
.Subtotal{
	font-size: 22px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #202020;
}
.items{
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #ffcece;
	line-height: 10px;
}
.total-amount{
	font-size: 36px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #202020;
}
.sub-amount{
    font-size: 24px;
    font-family: 'Open Sans';
    font-weight: 900;
	color: #202020;
}
.button{
	margin-top: 10px;
	width: 100%;
	height: 40px;
	border: none;
	background: linear-gradient(to bottom right, orange, orangered);
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #202020;
}
.Shipping, .Tax, .ShippingPrice, .TaxPrice{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.ShippingPrice{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 10px;
}
.TotalPrice{
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float:right;
    font-weight:bold;
}
.itemImg{
    overflow: hidden;
    width: 125%;
}
.stock{

	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@media (max-width: 600px){
	.CartContainer{
		display: flex !important;
        flex-direction: column !important;
	}
	.Total{
		display: flex !important;
		flex-direction: column !important;
	}
}
.noUser, .noProducts{
	border: 1px solid black;
	border-radius: 100px;
	width: 300px;
	margin: auto;
	background-color: orange;
	text-align: center;
}
.noRef{
	text-decoration: none;
	color: 72A4C2; 
}
.noRef:hover{
	border: 1px solid black;
	border-radius: 5px;
}