.center {
  text-align: center;
  display: flex;
  justify-content: center;
  color:rgb(225, 225, 235);
}

.footer {
  padding-top:15px;
  display: block;
  background-color: #72A4C2;
  bottom: 0;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;  
}