<div ng-if="checkCurrentPath('small') &amp;&amp; !isCriticalErrorPage" id="dash-footer" class="footer mob-footer ng-scope" >
    <!-- <a ng-hide="mode == 'quiz'" href="/accessibility-statement/" style="float:left; margin-left: 1em" aria-hidden="false" class="">
        <strong>Accessibility</strong>
    </a> -->
    <div class="footer" class="center">
        <strong ng-bind="::messageConstants.DEFAULT_APPNAME" class="ng-binding">RevLoot</strong> 
        <p>&nbsp;Copyright Revature ©</p>
        <span ng-bind="currentYear" class="ng-binding">2022</span>
    </div>
</div>