/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(55, 53, 61);
}

button{
    background-color: #F26925;
    border: none;
}

app-root {
    min-height: 100%;
    display: block;
    position: relative;
    padding-bottom: 156px;
}