<div class="content" role="main">
    <div class="card">
      <div class="form-group">
        <label for="search-text">Search Text</label>
        <div>{{searchText}}</div>
        <input type="email" class="form-control" id="search-text" aria-describedby="search-text" 
          [(ngModel)]='searchText' placeholder="Enter text to search" 
          autofocus>
      </div>
      <div *ngIf="searchText == undefined; then thenBlock; else elseBlock" ></div>
      <ng-template #thenBlock></ng-template>
        
      <ng-template #elseBlock>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let product of products | search: searchText | slice:0:10; let i=index">
            {{product}}
            </li>
        </ul>
      </ng-template>
    </div>
  </div>